@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


* {
    padding:  0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --primary-color: #364ba7;
    --secondary-color: #f583a7;
}

body {
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
}

.fa-quote-left {
    font-size: 84px;
    color: var(--secondary-color);
}

.quote {
    text-align: center;
    font-style: italic;
    color: var(--primary-color);
}

.author {
    color: var(--secondary-color);
    font-size: 20px;
}

hr {
    margin: 10px 0;
    width: 60%;
    border: 1px solid #364ba788;
}

.buttons {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}

.twitter-share-button {
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--secondary-color);
    border-radius: 4px;
}

.buttons button {
    cursor: pointer;
    border: none;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 4px;
} 

botton:focus {
    outline: none;
}